<div class="order-summary__container">
    <mat-accordion class="" multi>
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{pageDict.order_summary.summaryTitle}}
                </mat-panel-title>
                <mat-panel-description>
                    {{pageDict.order_summary.titleDescription}} 
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="flex-sides">
                <div>{{destinationFrom}}</div>
                <div>{{destinationTo}}</div>
            </div>
            <div class="order-summary__destination flex-sides">
                <mat-form-field class="" appearance="fill">
                    <mat-label>{{pageDict.order_summary.datepickerFromInput}}</mat-label>
                    <input matInput [matDatepicker]="fromDate" [formControl]="dateFrom">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                    <mat-datepicker #fromDate></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="" appearance="fill">
                    <mat-label>{{pageDict.order_summary.datepickerToInput}}</mat-label>
                    <input matInput [max]="" [matDatepicker]="toDate" [formControl]="dateTo">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="toDate" disable="false"></mat-datepicker-toggle>
                    <mat-datepicker #toDate></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="order-summary__countdown">
                <app-countdown [departureDate]="this.order.departureDate" [arrivalDate]="this.order.arrivalDate">
                </app-countdown>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{pageDict.order_summary.passengers}}
                </mat-panel-title>
                <mat-panel-description>
                    {{pageDict.passenger_details.titleDescription}}
                </mat-panel-description>
            </mat-expansion-panel-header>
    
            <form action="" [formGroup]="passengerForm">
                <div formArrayName="passengersArray">
                    <div *ngFor="let pForm of passengersFormArray.controls; let i = index" [formGroupName]="i">
                        <mat-card class="passengers-list__card">
                            <mat-card-title>{{pageDict.passenger_details.passengerTitle}} {{i+1}}</mat-card-title>
                            <mat-card-content>
                                <mat-form-field class="example-form-field" appearance="fill">
                                    <mat-label>{{pageDict.passenger_details.passengerFirstName}}</mat-label>
                                    <input matInput type="text" formControlName="fName">
                                    <mat-error *ngIf="passengersFormArray.controls[i].get('fName')?.errors?.['required']">
                                        {{pageDict.errors.required}}</mat-error>
                                </mat-form-field>
                                <mat-form-field class="example-form-field" appearance="fill">
                                    <mat-label>{{pageDict.passenger_details.passengerLastName}}</mat-label>
                                    <input matInput type="text" formControlName="lName">
                                    <mat-error *ngIf="passengersFormArray.controls[i].get('lName')?.errors?.['required']">
                                        {{pageDict.errors.required}} </mat-error>
                                </mat-form-field>
                                <mat-form-field appearance="fill">
                                    <mat-label>{{pageDict.passenger_details.passengerSex}}</mat-label>
                                    <mat-select formControlName="sex">
                                        <mat-option [value]="'Male'">
                                            {{pageDict.passenger_details.passengerSexMale}}
                                        </mat-option>
                                        <mat-option [value]="'Female'">
                                            {{pageDict.passenger_details.passengerSexFemale}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="passengersFormArray.controls[i].get('sex')?.errors?.['required']">
                                        {{pageDict.errors.required}}</mat-error>
                                </mat-form-field>
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>{{pageDict.passenger_details.passengerBirthDate}}</mat-label>
                                    <input matInput [max]="maxBirthDate" [matDatepicker]="birthDate"
                                        formControlName="birthdate">
                                    <mat-hint>MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matSuffix [for]="birthDate"></mat-datepicker-toggle>
                                    <mat-datepicker #birthDate></mat-datepicker>
                                    <mat-error
                                        *ngIf="passengersFormArray.controls[i].get('birthdate')?.errors?.['required']">
                                        {{pageDict.errors.required}}
                                    </mat-error>
                                    <mat-error
                                        *ngIf="passengersFormArray.controls[i].get('birthdate')?.errors?.['birthdateInvalid'] && passengersFormArray.controls[i].get('birthdate')?.value">
                                        {{pageDict.errors.more20}}
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field appearance="fill">
                                    <mat-label>{{pageDict.passenger_details.passengerNationality}}</mat-label>
                                    <mat-select formControlName="nationalityId">
                                        <mat-option *ngFor="let nationality of nationalities" [value]="nationality.id">
                                            {{nationality.name}}</mat-option>
                                    </mat-select>
                                    <mat-error
                                        *ngIf="passengersFormArray.controls[i].get('nationalityId')?.errors?.['required']">
                                        {{pageDict.errors.required}}
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field appearance="fill">
                                    <mat-label>{{pageDict.passenger_details.documentType}}</mat-label>
                                    <mat-select formControlName="documentType" [(value)]="passengers[i].documentType">
                                        <mat-option [value]="passengerDocumntType.InternalPassport">
                                            {{pageDict.passenger_details.internalPassport}}
                                        </mat-option>
                                        <mat-option [value]="passengerDocumntType.InternationalPassport">
                                            {{pageDict.passenger_details.internationalPassport}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error
                                        *ngIf="passengersFormArray.controls[i].get('documentType')?.errors?.['required']">
                                        {{pageDict.errors.required}}
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="example-form-field" appearance="fill">
                                    <mat-label>{{pageDict.passenger_details.passengerPassNo}}</mat-label>
                                    <input matInput type="text" formControlName="passportNo">
                                    <mat-error
                                        *ngIf="passengersFormArray.controls[i].get('passportNo')?.errors?.['required']">
                                        {{pageDict.errors.required}}</mat-error>
                                </mat-form-field>
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>{{pageDict.passenger_details.passengerPassExpireDate}}</mat-label>
                                    <input matInput [min]="maxBirthDate" [max]="" [matDatepicker]="passExpireDate"
                                        formControlName="passportDateOfExpire">
                                    <mat-hint>MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matSuffix [for]="passExpireDate"></mat-datepicker-toggle>
                                    <mat-datepicker #passExpireDate></mat-datepicker>
                                    <mat-error
                                        *ngIf="passengersFormArray.controls[i].get('passportDateOfExpire')?.errors?.['required']">
                                        {{pageDict.errors.required}}
                                    </mat-error>
                                    <mat-error
                                        *ngIf="passengersFormArray.controls[i].get('passportDateOfExpire')?.errors?.['passportDateOfExpireInvalid'] && passengersFormArray.controls[i].get('passportDateOfExpire')?.value">
                                        {{pageDict.errors.expireDate}}
                                    </mat-error>
                                </mat-form-field>
                            </mat-card-content>
                            <mat-divider inset></mat-divider>
                            <mat-card-actions *ngIf="pForm.disabled">
                                <button mat-button (click)="editPassenger(i)">{{pageDict.order_summary.editBtn}}</button>
                            </mat-card-actions>
                            <mat-card-actions *ngIf="!pForm.disabled">
                                <button mat-button (click)="reverseChanges(i)">{{pageDict.order_summary.canselBtn}}</button>
                                <button mat-button (click)="applyChanges(i)">{{pageDict.order_summary.applyBtn}}</button>
                            </mat-card-actions>
                            <mat-card-footer>
                            </mat-card-footer>
                        </mat-card>
                    </div>
                </div>
            </form>
        </mat-expansion-panel>
    </mat-accordion>
</div>