<div class="order-details__container">
    <div class="order-details__body">
        <div class="order-details__destination-container">
            <div class="order-details__destination">
                <app-destination-picker></app-destination-picker>
            </div>
            <div class="order-details__destination">
                <app-destination-picker></app-destination-picker>
            </div>
        </div>
        <div class="order-details__destination-restrictions">

        </div>
        <div class="order-details__passengers-count">
            <div>

            </div>
            <div>
                <button>-</button>
                <div></div><button (click)="passengers.push([])">+</button>
            </div>
        </div>
        <div class="order-details__passengers-list">
            <div class="order-details__passengers-lits__passenger-card"
                *ngFor="let passenger of passengers;let i = index">
                <mat-card class="example-card">
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-title>Passenger {{i+1}}</mat-card-title>
                    <mat-card-content>
                        <mat-form-field class="example-form-field" appearance="fill">
                            <mat-label>Clearable input</mat-label>
                            <input matInput type="text" [(ngModel)]="value">
                            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                              <mat-icon>close</mat-icon>
                            </button>
                          </mat-form-field>
                          <mat-form-field class="example-form-field" appearance="fill">
                            <mat-label>Clearable input</mat-label>
                            <input matInput type="text" [(ngModel)]="value">
                            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                              <mat-icon>close</mat-icon>
                            </button>
                          </mat-form-field>
                          <mat-form-field class="example-form-field" appearance="fill">
                            <mat-label>Clearable input</mat-label>
                            <input matInput type="text" [(ngModel)]="value">
                            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                              <mat-icon>close</mat-icon>
                            </button>
                          </mat-form-field>
                        <p>This card has divider and indeterminate progress as footer</p>
                        <p>This card has divider and indeterminate progress as footer</p>
                        <p>This card has divider and indeterminate progress as footer</p>
                        <p>This card has divider and indeterminate progress as footer</p>
                        <p>This card has divider and indeterminate progress as footer</p>

                    </mat-card-content>
                    <mat-divider inset></mat-divider>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                    <mat-card-footer>
                    </mat-card-footer>
                </mat-card>
            </div>
        </div>
    </div>
</div>