<p>order-details works!</p>
<div class="order-details__container">
    <div class="order-details__body">
        <div class="order-details__destination-container">
            <div class="order-details__destination">
                <div class="order-details__destination-picker">
                    <div class="order-details__destination-picker__search-field">
                    </div>
                    <div class="order-details__destination-picker__tree">
                    </div>
                </div>
                <div class="order-details__destination-picker__datepicker">
                </div>
            </div>
            <div class="order-details__destination">
                <div class="order-details__destination-picker">
                    <div class="order-details__destination-picker__search-field">
                    </div>
                    <div class="order-details__destination-picker__tree">
                    </div>
                </div>
                <div class="order-details__destination-picker__datepicker">
                </div>
            </div>
        </div>
        <div class="order-details__destination-restrictions">

        </div>
        <div class="order-details__passengers-count">
            <button>-</button><div></div><div>+</div>
        </div>
        <div class="order-details__passengers-list">

        </div>
    </div>
</div>